:root {
    background-color: rgb(11, 126, 72);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: large;
}

body{
    max-width: 100%;
    max-height: 100%;
}

.quiz-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex-column{
    display:flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 50pt;
    padding: 20pt;
}

h2{
    font-size: 30pt;
}

.btn{
    text-decoration: none;
    text-align: center;
    color: rgba(0, 47, 255, 0.842);
    padding: 2pt;
}
.hide{
    display: none;

}